.gridInfiniteScroll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
}

.gridInfiniteScroll figure {
  margin: 0;
}

.gridInfiniteScroll img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
